p{
    color: rgb(211, 22, 22);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
*{
    margin: 0;
}

.contenedor{
    background-color: rgba(211, 14, 14, 0.932);
    background-image: url("hola/lluvia.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: monospace;
}
p{
    font-size: xx-large;
    padding: 15%;
}
button{
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
}
#noBtn{
    position: absolute;
}